.row
  .col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4
    %h2.text-center.login-headline Welcome to Props App!
    .panel.panel-default
      .panel-heading
        %h3.panel-title.text-center
          If you want to say "thanks" to someone who has helped you recently,
          you are at the right place.
      .panel-body
        = link_to 'Just sign in and give a prop!', signin_path,
                  class: 'btn btn-primary btn-lg btn-block'
        = link_to "/auth/slack" do
          = image_tag("https://api.slack.com/img/sign_in_with_slack.png", srcset: "https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x")
