development:
  single_domain: false
  app_domain: 'props.dev'
  domain_name: 'gapps-domain-name' # leave blank for development in order to use ANY domain
  extra_domains: 'example.co, example.org'
  emails:
    default_from: 'props@example.com'
  newrelic_license_key: 'newrelic_license_key'
  omniauth_provider_key: 'omniauth-key'
  omniauth_provider_secret: 'omniauth-secret'
  rollbar_access_token: 'rollbar_token'
  secret_key_base: 'please-change-me'
  sendgrid_user_name: 'sendgrid_user_name'
  sendgrid_password: 'sendgrid_password'
  skylight_token: 'skylight-token'
  slack:
    default_channel: 'default_channel'
    token: 'slack-token'

test:
  secret_key_base: 'please-change-me'

production:
  app_domain: <%= ENV['APP_DOMAIN'] %>
  domain_name: <%= ENV['GAPPS_DOMAIN_NAME'] %>
  extra_domains: <%= ENV['EXTRA_DOMAIN_NAMES'] %>
  emails:
    default_from: <%= ENV['EMAILS_DEFAULT_FROM'] %>
  omniauth_provider_key: <%= ENV['OMNIAUTH_KEY'] %>
  omniauth_provider_secret: <%= ENV['OMNIAUTH_SECRET'] %>
  secret_key_base: <%= ENV['SECRET_KEY_BASE'] %>
  sendgrid_password: <%= ENV['SENDGRID_PASSWORD'] %>
  sendgrid_user_name: <%= ENV['SENDGRID_USER_NAME'] %>
  slack:
    default_channel: <%= ENV['SLACK_DEFAULT_CHANNEL'] %>
    token: <%= ENV['SLACK_TOKEN'] %>
