{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "registerComponent": true,
    "createComponent": true,
    "getComponent": true,
    "renderComponent": true
  }
}
