$fs-0: 10px;
$fs-1: 12px;
$fs-3: 14px;
$fs-4: 16px;
$fs-5: 18px;
$fs-6: 20px;
$fs-7: 22px;
$fs-8: 24px;

$barnd-color: #3498db;
$primary-color: #34495e;
$secondary-color: #fff;
$background-color: #ecf0f1;

$primary-light-color: rgba($primary-color, 0.5);
$primary-shadow-color: rgba($primary-color, 0.25);
