.announcement-screen {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  background: white;
  width: 100%;
  height: 100%;
}

.announcement-screen__fancy-text {
  font-size: 100px;
  margin-top: 300px;
  text-align: center;
}

.announcement-appear {
  opacity: 0;

  &.announcement-appear-active {
    opacity: 0.95;
    transition: opacity 500ms ease-in;
  }
}

.announcement-leave {
  opacity: 1;

  &.announcement-leave-active {
    opacity: 0;
    transition: opacity 1000ms ease-in;
  }
}
