.loading {
  background: image-url('loader.gif') no-repeat;
  background-position: center;
  min-width: 32px;
  min-height: 32px;
}

.form-sync-cover {
  opacity: 0.5;
  cursor: not-allowed;
}

.loader {
  position: relative;
  height: 200px;
  width: 100%;
  margin: 100px 0;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin: -25px 0 0 -25px;
    border-radius: 50%;
    border: 5px solid #ccc;
    border-top-color: #c27809;
    box-sizing: border-box;
    animation: loader .6s linear infinite;
  }
}

@keyframes loader {
  to {transform: rotate(360deg);}
}
