.praised-person-avatar {
  margin: 10px;
  max-height: 80px;
}

.user-small-face {
  max-width: 30px;
  margin-right: 10px;
}

.users-select{
  .is-focused > .Select-control {
    border-color: $brand-primary;
    @include box-shadow(0 0 15px rgba($brand-primary, .5));
  }
}
